<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pynotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Navbar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-100 p-3">
                <h4 class="text-center fw-bold">Menu</h4>                           <!--- mettre blase du log-->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="index_students.html" class="nav-link"><i class="fas fa-book"></i> Emploi du temps</a>
                    </li>
                    <li class="nav-item">
                        <a href="notes_students.html" class="nav-link"><i class="fas fa-file-alt"></i> Notes</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile_students.html" class="nav-link"><i class="fas fa-user"></i> Mon profil</a>
                    </li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
