{% extends "base_teachers.html" %}
{% block content %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="table-responsive mt-4">
                    <table class="table notes table-bordered text-center bg-light">
                        <thead class="dropdown bg-light">
                            <div class="d-flex cate justify-content-between align-items-center bg-light p-2">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Sélectionner un élève                   <!--des qu'il select ca change d'eleve-->
                                    </button>
                                    <ul class="dropdown-menu p-2" style="width: 250px;">
                                        <div id="studentList">
                                            <li><a class="dropdown-item w-100" href="">Victor VERNET</a></li>
                                            <li><a class="dropdown-item w-100" href="#">Inaki PRADAL</a></li>
                                            <li><a class="dropdown-item w-100" href="#">Léo NIEL</a></li>
                                            <li><a class="dropdown-item w-100" href="#">Tom LEFEBVRE</a></li>
                                            <li><a class="dropdown-item w-100" href="#">Quentin NOUTARY</a></li>
                                        </div>
                                    </ul>
                                </div>
                            
                                <button type="button" class="btn btn-success" href="mettre_note.html"> Mettre une note</button> 
                            </div>
                            <tr>
                                <th>DISCIPLINES</th>
                                <th>ÉVALUATIONS</th>
                                <th>MOYENNE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Mathématiques</td><td>16</td><td>16.00</td></tr>  <!--- mettre les notes des élèves de la bdd -->
                            <tr><td>Français</td><td>12.5 (0.5) - 17 (0.5)</td><td>14.75</td></tr>
                            <tr><td>Histoire-Géo</td><td>10 /10</td><td>20.00</td></tr>
                            <tr><td>Physique-Chimie</td><td>20 - 8.5 /10</td><td>18.50</td></tr>
                            <tr><td>Anglais</td><td>20 (2) - 20 (0.5) - 20 - 18 (0.5) - 20 - 18</td><td>19.50</td></tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="2" class="fw-bold bg-light">MOYENNE GÉNÉRALE</td>
                                <td>18.47</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </main>
{% endblock %}